*{
  margin: 0;
  padding: 0;
}
 .app{
  background-color: rgb(21, 9, 88);
  height: 100vh;
  color: white;
 }
 .container {
  top: 9%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 66%);
}
.input {
  display: flex;
  align-items: center;
  padding: 6px;
  justify-content: space-between;
  background-color: white;
}
.input i{
  color: gray;
}
.input input{
  
    outline-color: transparent;
    border-color: transparent;

}